<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.7.4</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>AndroidResizer</string>
  <key>CFBundleIconFile</key>
  <string>AndroidResizer.icns</string>
  <key>CFBundleIdentifier</key>
  <string>androidresizer.androidresizer</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>AndroidResizer</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <!-- See http://developer.apple.com/library/mac/#releasenotes/General/SubmittingToMacAppStore/_index.html
       for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>unknown</string>
  <key>CFBundleVersion</key>
  <string>100</string>
  <key>NSHumanReadableCopyright</key>
  <string>Unknown</string>
  <key>JVMRuntime</key>
  <string>jdk1.7.0_45.jdk</string>
  <key>JVMMainClassName</key>
  <string>com.javafx.main.Main</string>
  <key>JVMAppClasspath</key>
  <string></string>
  <key>JVMMainJarName</key>
  <string>AndroidResizer.jar</string>
  <key>JVMPreferencesID</key>
  <string>androidresizer/androidresizer</string>
  <key>JVMOptions</key>
  <array>

  </array>
  <key>JVMUserOptions</key>
    <dict>

    </dict>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
 </dict>
</plist>
